/*
 * Synlighter Stylesheet, http://kuzhagaliyev.kz/synlighter/
 *
 * © Copyright Timur Kuzhagaliyev 2013-2014,  
 * This stylesheet is distributed under
 * the terms of MIT license.
 * http://kuzhagaliyev.kz/synlighter/license
 *
 */


/*
 *    Font
 */
.synlighter {
	font-family:Verdana, Geneva, sans-serif !important;
}


/*
 *    Title
 */
.synlighter-title {
	font-size:16px !important;
	padding:8px 8px;
}
.synlighter-dark .synlighter-title { background-color:#666;color:#fff; }
.synlighter-light .synlighter-title { background-color:#666;color:#fff; }


/*
 *    Title  ->  Info
 */
.synlighter-title-info {
	margin:1px 0px 0px 0px;
	float:right;
}
.synlighter-title-info-button {
	background-size:16px 16px;
	margin:0px 0px 0px 4px;
	display:inline-block;
	cursor:pointer;
	opacity:0.3;
	height:16px;
	width:16px;
}
.synlighter-title-info-button:hover {
	opacity:1;
}
.synlighter-title-info-button-warning {
	background-image:url('images/warning.png');
}
.synlighter-title-info-button-raw {
	background-image:url('images/raw.png');
}
.synlighter-title-info-button-copy {
	background-image:url('images/copy.png');
}
.synlighter-title-info-button-info {
	background-image:url('images/info.png');
}
 

/*
 *    Counter
 */
.synlighter-counter {
	font-family:"Courier New", Courier, monospace !important;
	font-size:14px !important;
	position:absolute;
	line-height:18px;
	text-align:right;
	padding:18px 8px;
}
.synlighter-dark .synlighter-counter { border-right:solid 1px rgba(60, 60, 60, 0.4);background-color:rgba(60, 60, 60, 1);color:#fff; }
.synlighter-light .synlighter-counter { border-right:solid 1px rgba(230, 230, 230, 0.4);background-color:rgba(230, 230, 230, 1);color:#444; }


/*
 *    Syntax
 */
.synlighter-syntax {
	font-family:"Courier New", Courier, monospace !important;
	font-size:14px !important;
	overflow:hidden;
	
	overflow-x:auto;
}
.synlighter-dark .synlighter-syntax { background-image:url('images/linesDark.png');background-color:#333;border-bottom:solid 5px #666;color:#fff; }
.synlighter-light .synlighter-syntax { background-image:url('images/linesLight.png');background-color:#f4f4f4;border-bottom:solid 5px #666;color:#444; }


/*
 *    Syntax  ->  Code
 */
.synlighter-syntax-code {
	-webkit-box-sizing:border-box;
	 -khtml-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	    -ms-box-sizing:border-box;
	     -o-box-sizing:border-box;
	        box-sizing:border-box;
	display:inline-block;
	padding:18px 0px;
	min-width:100%;
	margin:0px;
}
.synlighter-dark synlighter-syntax-code {}
.synlighter-light synlighter-syntax-code {}


/*
 *    Syntax  ->  Pre
 */
.synlighter-syntax-pre {
	line-height:18px;
	display:block;
	margin:0px;
	width:100%;
}
.synlighter-dark synlighter-syntax-pre {}
.synlighter-light synlighter-syntax-pre {}


/*
 *    Syntax  ->  Line
 */
.synlighter-syntax-line {
	line-height:18px;
	display:block;
	height:18px;
}
.synlighter-dark .synlighter-syntax-line-even { background-color:#383838; }
.synlighter-light .synlighter-syntax-line-even { background-color:#fbfbfb; }


/********************************************/
/**/									  /**/
/**/ /* Whoaaaaa, highlighting begins! */ /**/
/**/									  /**/
/********************************************/


/* Single Quotes => Dark */
.synlighter-dark .synlighter-highlight-html-singlequote { font-weight:bold; }
.synlighter-dark .synlighter-highlight-html-singlequote-content { color:#f90 !important; }
.synlighter-dark .synlighter-highlight-css-singlequote {}
.synlighter-dark .synlighter-highlight-js-singlequote { color:#f90 !important;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-singlequote-content { color:#fc3 !important;background-color:rgba(180, 180, 180, 0.1);border-radius:5px; }
.synlighter-dark .synlighter-highlight-js-singlequote-content span { color:#fc3 !important;background:none !important; }
.synlighter-dark .synlighter-highlight-php-singlequote {}
/* Single Quotes => Light */
.synlighter-light .synlighter-highlight-html-singlequote {}
.synlighter-light .synlighter-highlight-css-singlequote {}
.synlighter-light .synlighter-highlight-js-singlequote {}
.synlighter-light .synlighter-highlight-jquery-singlequote {}
.synlighter-light .synlighter-highlight-php-singlequote {}


/* Double Quotes => Dark */
.synlighter-dark .synlighter-highlight-html-doublequote { font-weight:bold; }
.synlighter-dark .synlighter-highlight-html-doublequote-content { color:#f90 !important; }
.synlighter-dark .synlighter-highlight-css-doublequote {}
.synlighter-dark .synlighter-highlight-js-doublequote { color:#f90 !important;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-doublequote-content { color:#fc3 !important;background-color:rgba(180, 180, 180, 0.1);border-radius:5px; }
.synlighter-dark .synlighter-highlight-js-doublequote-content span { color:#fc3 !important;background:none !important; }
.synlighter-dark .synlighter-highlight-js-regexslash { color:#f90 !important;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-regexslash-content { color:#fc3 !important;background-color:rgba(180, 180, 180, 0.1);border-radius:5px; }
.synlighter-dark .synlighter-highlight-js-regexslash-content span { color:#fc3 !important;background:none !important; }
.synlighter-dark .synlighter-highlight-php-doublequote {}
/* Double Quotes => Light */
.synlighter-light .synlighter-highlight-html-doublequote {}
.synlighter-light .synlighter-highlight-css-doublequote {}
.synlighter-light .synlighter-highlight-js-doublequote {}
.synlighter-light .synlighter-highlight-jquery-doublequote {}
.synlighter-light .synlighter-highlight-php-doublequote {}


/* HTML => Dark */
.synlighter-dark .synlighter-highlight-html-comment { color:#777 !important; }
.synlighter-dark .synlighter-highlight-html-comment span { color:#777 !important; }
.synlighter-dark .synlighter-highlight-html-tag-default { color:#80e5ff; }
.synlighter-dark .synlighter-highlight-html-tagname { font-weight:bold; }
.synlighter-dark .synlighter-highlight-html-attr { text-decoration:underline; }
/* HTML => Light */
.synlighter-dark .synlighter-highlight-html-comment {}
.synlighter-dark .synlighter-highlight-html-tag-default {}
.synlighter-dark .synlighter-highlight-html-tagname {}
.synlighter-dark .synlighter-highlight-html-attr {}

/* JS => Dark */
.synlighter-dark .synlighter-highlight-js-jqueryobject { color:#f9f;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-method { color:#afd1ff;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-bracket { color:#ffafaf;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-figurebracket { color:#6c3;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-squarebracket { color:#cc0;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-operator { color:#6c3; } 
.synlighter-dark .synlighter-highlight-js-colon { color:#ff0;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-comma { color:#ff0;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-semicolon { color:#960;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-comment { color:#777 !important; }
.synlighter-dark .synlighter-highlight-js-comment span { color:#777 !important; }
.synlighter-dark .synlighter-highlight-js-word { color:#09F; !important;font-weight:bold; }
.synlighter-dark .synlighter-highlight-js-number { color:#6F9;font-weight:bold; }

/* CSS => Dark */
.synlighter-dark .synlighter-highlight-css-class { color:#f9f;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-id { color:#f9f;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-property { color:#afd1ff;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-bracket { color:#ffafaf;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-figurebracket { color:#ff6eff;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-colon { color:#ff0;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-comma { color:#ff0;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-semicolon { color:#960;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-comment { color:#777 !important; }
.synlighter-dark .synlighter-highlight-css-comment span { color:#777 !important; }
.synlighter-dark .synlighter-highlight-css-word { color:#09F; !important;font-weight:bold; }
.synlighter-dark .synlighter-highlight-css-number { color:#6F9;font-weight:bold; }